{% extends "base.html" %}

{% block title %}Pull Resquests Tool{% endblock %}

{% block main %}
<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.7</h4>
    <div>11 November 2022</div>
</div>
<div class="mx-5">
    - Open Pull Requests using multi-threading, speed up the process.<br/>
    - fix some minor bugs.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.6</h4>
    <div>27 October 2022</div>
</div>
<div class="mx-5">
    - Add links of <b>Issue Track</b> and <b>Status Update</b>.<br/>
    - Add <b>Help</b> page.<br/>
    - Fix drag and drop in file upload page.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.5</h4>
    <div>7 September 2022</div>
</div>
<div class="mx-5">
    - Fetch Open PRs using multi-threading, optimise website load speed.<br/>
    - Fix Closed PRs sorted order.<br/>
    - Fix some minor bug.s<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.4</h4>
    <div>26 Augst 2022</div>
</div>
<div class="mx-5">
    - Fetch Open PRs in another approach, this may led the system slower than before.<br/>
    - Fix some minor bugs.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.3</h4>
    <div>7 Augst 2022</div>
</div>
<div class="mx-5">
    - Update Jenkins link.<br/>
    - Fix some minor bugs.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.2</h4>
    <div>31 July 2022</div>
</div>
<div class="mx-5">
    - Add a search bar in PRs list page.<br/>
    - Fix PRs list - Closed sorting problem.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.1</h4>
    <div>24 July 2022</div>
</div>
<div class="mx-5">
    - Optimise website load speed.<br/>
    - Fix some minor bugs.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.0</h4>
    <div>17 July 2022</div>
</div>
<div class="mx-5">
    - Open a new tab when click on a pull request.<br/>
    - Ignore case when search reviewers, assignees and labels.<br/>
    - Fix extra empty line in create pull request body on Windows system.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>Beta Version</h4>
    <div>10 July 2022</div>
</div>
<div class="mx-5">
    - Finish feature: <b>Create Pull Request</b>.<br/>
    - Split Pull Requests list into <b>Open</b> and <b>Closed</b>.<br/>
    - Sort Pull Requests list by <b>Date</b>.<br/>
    - Fix some minor bugs.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>Alpha Version</h4>
    <div>3 July 2022</div>
</div>
<div class="mx-5">
    - Finish feature: <b>List Pull Requests</b>.<br/>
</div>
<hr/>
<br/><br/>
{% endblock %}