{% extends "base.html" %}

{% block title %}Pull Resquests Tool{% endblock %}

{% block main %}
<div class="container">
    <div class="toolbar">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="dcTrack" autocomplete="off">
            <label class="btn btn-outline-primary" for="dcTrack">dcTrack</label>

            <input type="radio" class="btn-check" name="btnradio" id="capstone1" autocomplete="off">
            <label class="btn btn-outline-primary" for="capstone1">Capstone 1</label>

            <input type="radio" class="btn-check" name="btnradio" id="capstone2" autocomplete="off">
            <label class="btn btn-outline-primary" for="capstone2">Capstone 2</label>
        </div>
    </div>

    <div class="mb-5">
        <table id="PRsTable">
            <thead>
                <tr>
                    <th data-field="number" data-sortable="true" data-formatter="numberFormatter">#</th>
                    <th data-field="title" data-sortable="true">Title</th>
                    <th data-field="author" data-sortable="true">Author</th>
                    <th data-field="date" data-sortable="true">Date</th>
                    <th data-field="base_on" data-sortable="true" data-footer-formatter="footerFormatter">Base on</th>
                </tr>
            </thead>
            <tfoot>
                <td colspan="4">Total</td>
                <td></td>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>

<script>
const $prsTable = $("#PRsTable");

var team = "{{ kwargs.get('team') }}";
var currentTeam = team;
var currentState = 'open';

$('#dcTrack').click(() => {
    currentTeam = 'dcTrack';
    updateTable();
});

$('#capstone1').click(() => {
    currentTeam = 'capstone1';
    updateTable();
});

$('#capstone2').click(() => {
    currentTeam = 'capstone2';
    updateTable();
});

const updateTable = async () => {
    $prsTable.bootstrapTable('showLoading');

    const res = await fetch(`/fetchPRs?team=${currentTeam}&state=${currentState}`);
    const data = await res.json();

    $prsTable.bootstrapTable('load', data);

    $prsTable.bootstrapTable('hideLoading');
}

function numberFormatter(value, row) {
    return `<a href="${row.url}" target="_blank">${value}</a>`;
}

function footerFormatter(data) {
    return data.length;
}

function tableButtons() {
    return {
        togglePR: {
            text: 'Toggle',
            icon: 'bi bi-toggle-on',
            attributes: {
                title: 'Toggle between open and closed pull requests'
            },
            event: () => {
                currentState = currentState === 'open' ? 'closed' : 'open';
                $('button[name*="togglePR"]').children().toggleClass('bi-toggle-off bi-toggle-on');
                updateTable();
            },
        },
        newPR: {
            text: 'New Pull Request',
            icon: 'bi bi-plus',
            attributes: {
                title: 'Create a new pull request'
            },
            event: () => {
                window.location.href = '/uploadFile';
            },
        },
    }
}

window.onload = () => {
    $prsTable.bootstrapTable({
        search: true,
        sortReset: true,
        showFooter: true,
        toolbar: '.toolbar',
        buttons: 'tableButtons',
    })

    if (currentTeam === 'dcTrack') {
        $('#dcTrack').attr('checked', true);
    } else if (currentTeam === 'capstone1') {
        $('#capstone1').attr('checked', true);
    } else if (currentTeam === 'capstone2') {
        $('#capstone2').attr('checked', true);
    }

    updateTable();
}
</script>


{% endblock %}