{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css">
{% endblock %}

{% block main %}
<div class="container my-3">
	<div class="toolbar">
		<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
			<input type="radio" class="btn-check" name="btnradio" id="dcTrack" autocomplete="off">
			<label class="btn btn-outline-primary" for="dcTrack">dcTrack</label>

			<input type="radio" class="btn-check" name="btnradio" id="capstone1" autocomplete="off">
			<label class="btn btn-outline-primary" for="capstone1">Capstone 1</label>

			<input type="radio" class="btn-check" name="btnradio" id="capstone2" autocomplete="off">
			<label class="btn btn-outline-primary" for="capstone2">Capstone 2</label>
		</div>
	</div>

	<div class="mb-5">
		<table id="PRsTable">
			<thead>
				<tr>
					<th data-field="number" data-sortable="true" data-formatter="numberFormatter">#</th>
					<th data-field="title" data-sortable="true">Title</th>
					<th data-field="labels" data-sortable="true" data-formatter="labelsFormatter">Labels</th>
					<th data-field="author" data-sortable="true">Author</th>
					<th data-field="date" data-sortable="true">Date</th>
					<th data-field="base_on" data-sortable="true">Base on</th>
					<th data-field="ci_status" data-sortable="true" data-formatter="ciStatusFormatter">CI Status</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<!-- CI status icon -->
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
	<symbol id="icon-aborted" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
		<path
			d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
	</symbol>
	<symbol id="icon-disabled" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
		<path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z" />
	</symbol>
	<symbol id="icon-blue" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
		<path
			d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
	</symbol>
	<symbol id="icon-red" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
		<path
			d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
	</symbol>
	<symbol id="icon-yellow" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
		<path
			d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
	</symbol>
</svg>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>

<script>
	const $prsTable = $("#PRsTable");

	var team = "{{ kwargs.get('team') }}";
	var currentTeam = team ? team : 'dcTrack';
	var currentState = 'open';

	$('#dcTrack').click(() => {
		currentTeam = 'dcTrack';
		updateTable();
	});

	$('#capstone1').click(() => {
		currentTeam = 'capstone1';
		updateTable();
	});

	$('#capstone2').click(() => {
		currentTeam = 'capstone2';
		updateTable();
	});

	const updateTable = async () => {
		$prsTable.bootstrapTable('showLoading');

		const res = await fetch(`/fetchPRs?team=${currentTeam}&state=${currentState}`);
		const data = await res.json();

		$prsTable.bootstrapTable('load', data);
		$prsTable.bootstrapTable('hideLoading');
	}

	function numberFormatter(value, row) {
		return `<a href="${row.url}" target="_blank">#${value}</a>`;
	}

	function labelsFormatter(value, row) {
		return value.map(label =>
			`<span class="badge rounded-pill" style="background-color:#${label.color}">${label.name}</span>`).join(' ');
	}

	function ciStatusFormatter(value) {
		if (!value) return `<span class="badge rounded-pill bg-secondary">No CI</span>`;

		var color = 'gray';
		var icon = value.color.replace('_anime', '');

		if (value.color !== 'aborted' && value.color !== 'disabled' && value.color !== 'notbuilt')
			if (icon === 'yellow') color = 'orange';
			else if (icon === 'blue') color = 'green';
		else color = icon;

		const ci_status = document.createElement("a");
		const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
		const use = document.createElementNS("http://www.w3.org/2000/svg", "use");

		ci_status.href = value.url;
		ci_status.style.color = color;
		ci_status.target = "_blank"
		ci_status.className = "position-relative d-flex align-items-center";

		svg.setAttributeNS(null, "class", "z-index-1 position-absolute");
		svg.setAttributeNS(null, "width", "1rem");
		svg.setAttributeNS(null, "height", "1rem");

		use.setAttributeNS(null, "href", `#icon-${icon}`);

		svg.appendChild(use);
		ci_status.appendChild(svg);

		if (value.color.includes('_anime')) {
			var loading_div = document.createElement("div");
			loading_div.className = "z-index-2 position-absolute spinner-border spinner-border-sm";
			ci_status.appendChild(loading_div);
		}

		return ci_status.outerHTML;
	}

	function tableButtons() {
		buttons = {
			refresh: {
				text: 'Refresh',
				icon: 'bi bi-arrow-clockwise',
				attributes: {
					title: 'Refresh the table'
				},
				event: () => {
					updateTable();
				},
			},
			togglePR: {
				text: 'Toggle',
				icon: 'bi bi-toggle-on',
				attributes: {
					title: 'Toggle between open and closed pull requests'
				},
				event: () => {
					currentState = currentState === 'open' ? 'closed' : 'open';
					$('button[name*="togglePR"]').children().toggleClass('bi-toggle-off bi-toggle-on');
					updateTable();
				},
			},
			newPR: {
				text: 'New Pull Request',
				icon: 'bi bi-plus',
				attributes: {
					title: 'Create a new pull request'
				},
				event: () => {
					window.location.href = '/uploadFile';
				},
			}
		}

		return buttons;
	}

	window.onload = () => {
		$prsTable.bootstrapTable({
			search: true,
			sortReset: true,
			toolbar: '.toolbar',
			buttons: 'tableButtons',
		})

		if (currentTeam === 'dcTrack') {
			$('#dcTrack').attr('checked', true);
		} else if (currentTeam === 'capstone1') {
			$('#capstone1').attr('checked', true);
		} else if (currentTeam === 'capstone2') {
			$('#capstone2').attr('checked', true);
		}

		updateTable();
	}
</script>
{% endblock %}