{% extends "base.html" %}

{% block title %}Pull Resquests Tool{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 75vh;">
        <div class="col-6">
            <div class="card">
                <div class="card-header"><h1>Access Denied</h1></div>
                <div class="card-body">
                    <p class="card-text">You are not the member of the Sunbird Software.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}