{% extends "base.html" %}

{% block title %}Pull Resquests Tool{% endblock %}

{% block main %}
<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.2</h4>
    <div>31 July 2022</div>
</div>
<div class="mx-5">
    - Add a search bar in PRs list page.<br/>
    - Fix PRs list - Closed sorting problem.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.1</h4>
    <div>24 July 2022</div>
</div>
<div class="mx-5">
    - Optimise website load speed.<br/>
    - Fix minor bugs.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>v1.0</h4>
    <div>17 July 2022</div>
</div>
<div class="mx-5">
    - Open a new tab when click on a pull request.<br/>
    - Ignore case when search reviewers, assignees and labels.<br/>
    - Fix extra empty line in create pull request body on Windows system.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>Beta Version</h4>
    <div>10 July 2022</div>
</div>
<div class="mx-5">
    - Finish feature: <b>Create Pull Request</b>.<br/>
    - Split Pull Requests list into <b>Open</b> and <b>Closed</b>.<br/>
    - Sort Pull Requests list by <b>Date</b>.<br/>
    - Fix some minor bugs.<br/>
</div>
<hr/>

<div class="mx-4 mt-4 d-flex justify-content-between">
    <h4>Alpha Version</h4>
    <div>3 July 2022</div>
</div>
<div class="mx-5">
    - Finish feature: <b>List Pull Requests</b>.<br/>
</div>
<hr/>
{% endblock %}